/*Genel stil işlemleri için*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 120rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  font-family: "Pixelify Sans";
  font-weight: 400;
}
/*------------------------------------------------*/
/*Search input ve button inputlar için stil düzenlemeleri*/
.search-button {
  margin-top: 1rem;
  width: 900px;
  background-color: #edecec;
  padding-bottom: 30px;
}

.inpt,
.button-1,
.button-2 {
  border: revert;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: 0;
}

.button-1,
.button-2 {
  font-size: 13px;
  line-height: normal;
  background: silver;
  box-shadow: inset -1px -1px #555555, inset 1px 1px #fff,
    inset -2px -2px rgb(191, 190, 190), inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  height: 25px;
  padding: 0 25px;
}
/*-------------------------------------------------------*/
/*Alt linkler için stil düzenlemeleri*/
.links {
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
  background-color: #03dada;
}

.nth-two {
  display: inline;
  width: 12%;
  border: 1px solid #fff;
  text-align: center;
  background-color: #03cdcd;
}
