* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pixelify Sans";
}
.container {
  width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
  align-items: center;
  margin-top: 5%;
}

.search {
  background-color: rgba(205, 205, 205, 0.867);
  display: block;
  padding: 30px 30px;
  border: inset;
}
.link-container {
  background-color: #05c5a8;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  border: inset;
}
.link-box {
  padding: 3%;
}
